# .gitignore

# Terraform files
*.tfstate
*.tfstate.backup
*.tfvars

# Ignore directories created by Terraform
.terraform/
terraform.tfstate.d/

# Ignore CLI configuration files
terraform.rc
**/.terraform/